<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sz.lili.module.PromptMsgMapper">

    <resultMap type="cn.sz.lili.module.PromptMsg" id="PromptMsg">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询学生，根据id -->
    <select id="getRandomPromptMsg"  resultMap="PromptMsg">
         SELECT `id`, `content` FROM lili.tb_prompt_msg LIMIT 1;
    </select>

</mapper>  